<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fashi Template" />
    <meta name="keywords" content="Fashi, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RAJ SHOPPING SITE</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css_ui/bootstrap.min.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/css_ui/font-awesome.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css_ui/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css_ui/elegant-icons.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/css_ui/owl.carousel.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css_ui/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/css_ui/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css_ui/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css_ui/style.css" type="text/css" />
  </head>
  <body>
    <!-- <li>
      <a href="#">Category</a>
      <ul id="categories"></ul>
    </li> -->
    <div class="nav-item">
      <div class="container">
        <div id="mobile-menu-wrap">
          <ul>
            <li id="category1">
              Category
              <ul class="collapse">
                <div class="filter-widget">
                  <div id="categories"></div>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="filter-widget">
      <h4 class="fw-title">Category</h4>
      <div id="categories"></div>
    </div> -->
    <script src="/js_ui/jquery-3.3.1.min.js"></script>
    <script src="/js_ui/bootstrap.min.js"></script>
    <script src="/js_ui/jquery-ui.min.js"></script>
    <script src="/js_ui/jquery.countdown.min.js"></script>
    <script src="/js_ui/jquery.nice-select.min.js"></script>
    <script src="/js_ui/jquery.zoom.min.js"></script>
    <script src="/js_ui/jquery.dd.min.js"></script>
    <script src="/js_ui/jquery.slicknav.js"></script>
    <script src="/js_ui/owl.carousel.min.js"></script>
    <script src="/js_ui/main.js"></script>
    <script src="/myjs/shop.js"></script>
  </body>
</html>
