<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a href="#">
        <h2 style="color:blanchedalmond">Admin</h2>
      </a>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Category</span></a>
            <ul class="collapse">
              <li><a href="/category/register">Add Category</a></li>
              <li><a href="/category/all">View Category</a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Product</span></a>
            <ul class="collapse">
              <li><a href="/product/register">Add Product</a></li>
              <li><a href="/product/all">View Product</a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Orders</span></a>
            <ul class="collapse">
              <li><a href="/orders/new">View Orders</a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Customer</span></a>
            <ul class="collapse">
              <li><a href="/user/all">View Users</a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Signout</span></a>
            <ul class="collapse">
              <li><a href="/admin/logout">Log out</a></li>
            </ul>
          </li>
          <!-- <li><a href="/admin/logout">Logout</li> -->
        </ul>
      </nav>
    </div>
  </div>
</div> <!-- sidebar menu area end -->
<!-- main content area start -->
<div class="main-content">
  <!-- header area start -->
  <div class="header-area">
    <div class="row align-items-center">
      <!-- nav and search button -->
      <div class="col-md-6 col-sm-8 clearfix">
        <div class="nav-btn pull-left">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <!-- profile info & task notification -->
      <div class="col-md-6 col-sm-4 clearfix">
        <ul class="notification-area pull-right">
          <li id="full-view"><i class="ti-fullscreen"></i></li>
          <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
        </ul>
      </div>
    </div>
  </div>