<ul>
  <li><a href="/user/shop">Home</a></li>
  <li><a href="/user/track">Track Order</a></li>
  <li>
    <a href="#">Book your Event</a>
    <ul class="collapse">
      <li><a href="/events/birthday">Birthday</a></li>
      <li><a href="/events/reunion">Reunion</a></li>
      <li><a href="/events/farewell">Farewell</a></li>
    </ul>
  </li>
  <li><a href="/user/invoice">Invoice</a></li>
  <li><a href="/user/account">My Account</a></li>
  <li><a href="/user/logout">Logout</a></li>
  <li><a href="/user/contactus">Contact us</a></li>

  <!-- <li>
    <a href="#">Category</a>
    <ul id="category">
      <li>
        <a> <div id="categories" style="color:white">shoes</div></a>
      </li>
    </ul>
  </li> -->
</ul>
<script></script>
