<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Admin dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/css/themify-icons.css" />
  <link rel="stylesheet" href="/assets/css/metisMenu.css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/css/slicknav.min.css" />
  <!-- amchart css -->
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <!-- others css -->
  <link rel="stylesheet" href="/assets/css/typography.css" />
  <link rel="stylesheet" href="/assets/css/default-css.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="/assets/css/responsive.css" />
  <!-- modernizr css -->
  <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
  <style>
    img {
      max-width: 180px;
    }

    input[type=file] {
      padding: 10px;
      background: #2d2d2d;
    }

    .col-form-label{
      display: block;
    }
  </style>
</head>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
  <!-- preloader area start -->
  <div id="preloader">
    <div class="loader"></div>
  </div>
  <!-- preloader area end -->
  <!-- page container area start -->
  <div class="page-container">
    <!-- sidebar menu area start -->
    <%- include("../partials/admin_navbar.ejs") %>
    <!-- header area end -->
    <!-- page title area start -->
    <div class="page-title-area">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="breadcrumbs-area clearfix">
            <h4 class="page-title pull-left">Category</h4>
          </div>
        </div>
        <div class="col-sm-6 clearfix">
          <div class="user-profile pull-right">
            <img class="avatar user-thumb" src="/assets/images/author/avatar.png" alt="avatar" />
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
              Admin <i class="fa fa-angle-down"></i>
            </h4>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/admin/logout">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
      <div class="row">
        <div class="col-lg-6 col-ml-12">
          <div class="row">
            <!-- Textual inputs start -->
            <div class="col-12 mt-5">
              <div class="card">
                <div class="card-body">
                  <form id="myform" action="/category/submit" enctype="multipart/form-data" method="post">
                    <h4 class="header-title">Add Category</h4>

                    <div class="form-group">
                      <label for="example-text-input" class="col-form-label">Category Id</label>
                      <input class="form-control" type="text" name="category_id" id="example-text-input" required="" />
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="col-form-label">Category Name</label>
                      <input class="form-control" type="text" name="category_name" id="example-text-input"
                        required="" />
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="col-form-label">Category Description</label>
                      <textarea name="category_description" class="form-control" required=""></textarea>
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="col-form-label">Category Image</label>
                      <div class="custom-file">
                        <input type="file" onchange="readURL(this);"  class="custom-file-input" name="image" id="inputGroupFile02" required />
                        <label class="custom-file-label" for="inputGroupFile02">Choose image</label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="example-text-input" class="col-form-label">Preview Image</label>
                      <img id="blah" src="http://placehold.it/180" alt="your image" />
                    </div>

                    <div class="form-group">
                      <label for="example-text-input" class="col-form-label">Category Status</label>
                      <select class="form-control" name="category_status">
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">InActive</option>
                      </select>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->

    <!-- footer area end-->
  </div>
  <!-- page container area end -->
  <!-- offset area start -->
  <!-- offset area end -->
  <!-- jquery latest version -->
  <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
  <!-- bootstrap 4 js -->
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/metisMenu.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.min.js"></script>
  <script src="/assets/js/jquery.slicknav.min.js"></script>

  <!-- others plugins -->
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#blah')
            .attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</body>

</html>